@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.showcase header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo
{
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.nav
 {
    
    margin: 0;
    
    padding:0;
    
    list-style-type: none;
    text-align: center;
 }
   
    

    
.nav li 
{
        display: inline-block;
    
}
   
.nav a 
{
    
    color: #fff;
    
    display: inline-block;
    
    padding: 0.5em 0.75em;
    

    
    background-color: #666;
    

    
    border-radius: 4px;
    
    text-decoration: none;
    
}
    
.nav a:hover 
{
    
    background-color: #000
    
 }
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}


.text
{
  position: center;
  z-index: 10;
}
.text h1
{
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h2
{
  font-size: 2em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}


.text p
{
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}


